<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>

    <li>
      <a href="#">系统管理</a>
    </li>
    <li class="active">管理员信息</li>
  </ul>
</div>
<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
</div>