.no-margin-bottom{
  margin-bottom: 0;
}
.check-error{
  border: 1px solid #ff2900 !important;
}
.alert-warning{
  margin-top: 10px;
  margin-bottom: 0;
}
.input-readonly{
  border: none !important;
  background-color: #ffffff !important;
}
.form-control-static{
  margin-top: -4px;
}
.table-col-ellipsis{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}